---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=nextPageToken,%20files(id,%20name,%20parents)&q=%271sEQxAl884h7yaJH2AG9qDc96JZgw5lVP%27%20in%20parents%20and%20not%20trashed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization: token
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "files": [
          {
           "id": "1Jm-M2lHDKiIh4RGE3rzCiiFPhnz3XDUqVJNWtYQh3OU",
           "name": "zozo",
           "parents": [
            "1sEQxAl884h7yaJH2AG9qDc96JZgw5lVP"
           ]
          },
          {
           "id": "1TnReZQx8jxT2hWYlu97xSNLWCBiBp28z",
           "name": "folder",
           "parents": [
            "1sEQxAl884h7yaJH2AG9qDc96JZgw5lVP"
           ]
          }
         ]
        }
  recorded_at: Thu, 11 Apr 2019 18:05:42 GMT
- request:
    method: patch
    uri: https://www.googleapis.com/drive/v3/files/1Jm-M2lHDKiIh4RGE3rzCiiFPhnz3XDUqVJNWtYQh3OU
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#file",
         "id": "1Jm-M2lHDKiIh4RGE3rzCiiFPhnz3XDUqVJNWtYQh3OU",
         "name": "zozo",
         "mimeType": "application/vnd.google-apps.document"
        }
  recorded_at: Thu, 11 Apr 2019 18:05:42 GMT
- request:
    method: patch
    uri: https://www.googleapis.com/drive/v3/files/1TnReZQx8jxT2hWYlu97xSNLWCBiBp28z
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#file",
         "id": "1TnReZQx8jxT2hWYlu97xSNLWCBiBp28z",
         "name": "folder",
         "mimeType": "application/vnd.google-apps.folder"
        }
  recorded_at: Thu, 11 Apr 2019 18:05:43 GMT
recorded_with: VCR 4.0.0
