---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=nextPageToken,%20files(id,%20name,%20parents)&q=%27zozo%27%20in%20parents%20and%20not%20trashed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization: token
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "File not found: .",
            "locationType": "parameter",
            "location": "fileId"
           }
          ],
          "code": 404,
          "message": "File not found: ."
         }
        }
  recorded_at: Wed, 31 Oct 2018 18:13:04 GMT
recorded_with: VCR 4.0.0
