---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=nextPageToken,%20files(id,%20name,%20parents)&q=%271sEQxAl884h7yaJH2AG9qDc96JZgw5lVP%27%20in%20parents%20and%20not%20trashed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization: token
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "files": [
          {
           "id": "1SYLn7d_JSvdWlGTSOWO_TC4ltshNKviizQ7WqE8TBsA",
           "name": "12",
           "parents": [
            "1sEQxAl884h7yaJH2AG9qDc96JZgw5lVP"
           ]
          },
          {
           "id": "1YLMJKlzlY5ue8Fp0NyuDajyMfae4IID0",
           "name": "folder",
           "parents": [
            "1sEQxAl884h7yaJH2AG9qDc96JZgw5lVP"
           ]
          }
         ]
        }
  recorded_at: Wed, 31 Oct 2018 18:11:21 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1SYLn7d_JSvdWlGTSOWO_TC4ltshNKviizQ7WqE8TBsA
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization: token
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 31 Oct 2018 18:11:21 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1YLMJKlzlY5ue8Fp0NyuDajyMfae4IID0
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization: token
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 31 Oct 2018 18:11:22 GMT
recorded_with: VCR 4.0.0
