---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=nextPageToken,%20files(id,%20name,%20parents)&q=%271sEQxAl884h7yaJH2AG9qDc96JZgw5lVP%27%20in%20parents%20and%20not%20trashed
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization: token
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "files": [
          {
           "id": "1seVPuxGp7Bw0ZfHDWguOWSkEU6KSZGXU1rjlPwM42SE",
           "name": "2",
           "parents": [
            "1sEQxAl884h7yaJH2AG9qDc96JZgw5lVP"
           ]
          },
          {
           "id": "1R9eThx1smvQNisM6kMTNyH2BhRiK4ZXqHipTYJh4zZA",
           "name": "1",
           "parents": [
            "1sEQxAl884h7yaJH2AG9qDc96JZgw5lVP"
           ]
          }
         ]
        }
  recorded_at: Wed, 31 Oct 2018 18:08:57 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1seVPuxGp7Bw0ZfHDWguOWSkEU6KSZGXU1rjlPwM42SE
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization: token
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 31 Oct 2018 18:08:58 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v3/files/1R9eThx1smvQNisM6kMTNyH2BhRiK4ZXqHipTYJh4zZA
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization: token
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 31 Oct 2018 18:08:58 GMT
recorded_with: VCR 4.0.0
